@import '../../../theming-fortnightly';

:host {
  display: block;
}

.chart {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  height: 70px;
  width: 87%;
  margin-left: 3%;
  img {
    width: 100%;
    height: 100%;
  }
}

.chart-value {
  display: block;
  background-color: $secondary-color;
}

p {
  text-align: center;
  background: #d3d3d3;
  color: #808080;
  margin: 10% 30% 0 30%;
}

@media (max-width: 1200px) {
  p {
    margin: -14px 30% 0 30%;
  }
  .chart {
    img {
      width: 150px;
    }
  }
}
